@charset "UTF-8";

body{
	width:100vw;
	height:100vh;
}

.insert_table{
	border-collapse: separate;
}

.insert_tr{
	display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.insert_td_btn {
	margin-right: 25px; 
	width: 120px; 
	border-radius: 20px; 
	background-color: white; 
	color: black; 
	border: 1px solid black;
	
}

.delete_btn{
	margin-left: 300px; 
	width: 120px; 
	border-radius: 20px; 
	background-color: white; 
	color: black; 
	border: 1px solid black;
	margin-left: 950px;
	margin-top: -120px;
}

.insert_td_name{
	margin-right: 95px;
	width: 150px;
    text-align: center;
}

.insert_td_input{
	width: 35%;
}

.insert_td_input > input {
	height: 30px;
	font-size: 15px;
}

.insert_td_input > select {
	height: 30px;
}

.insert_div{
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.insert_contain {
	margin-top: 150px;
}

.insert_title_div{
	position: absolute;
    top: 40px;
}
.insert_title_span{
	
	font-size: xxx-large;
    font-weight: 600;
}

.insert_td_btn{
	margin-left:250px;
}

.pcInput{
	height: 300px;
}



@media (max-width: 817px)   { 
	.insert_td_input {
    	width: 45%;
	}
	.insert_td_btn {
   		margin-left: 0px;
	}
}