@charset "UTF-8";

body{
	width:100vw;
	height:100vh;
	
}
.notice-div{
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.notice-table{
	width: 70%;
    text-align: center;
}
.notice_flex_insert{
	border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.3);
    width: 40%;
}
.notice-th{
	border: 1px solid rgba(0,0,0,0.2);
	height: 60px;
}
.notice-td{
	border: 1px solid rgba(0,0,0,0.2);
	height:50px;
	color: rgba(0,0,0,0.5);
	 overflow : hidden
	}

.notice_insert{
	border: 1px solid rgba(0,0,0,0.2);
    border-radius: 45%;
	
}
.notice_select_td{
	color: black;
}
.notice_select{
	margin: 0 0 30px 0;
}
.notice-span{
	font-size:60px;
    margin: 0 0 20px 0;
}		

