@charset "UTF-8";
@media (min-width: 1711px){
	
	.notice-table{
		 max-width: 1200px;
		 text-align: center;
		 display:flex;
		 justify-content: center;
		 flex-direction: column;
		 flex-wrap: wrap;
		 position:absolute;
		 left:150px;
		 top:100px;
		 margin-top:20px;
		 table-layout: fixed;
	}
	.notice-td {
	 border: 1px solid rgba(0,0,0,0.2);
	 min-height: 60px;
	 table-layout: fixed;
	 width:auto;
	 flex-basis: 150px;
     flex-grow: 1;
     height:60px;
	 white-space: nowrap
	}
}
.notice-div{
	  position: relative;
	}

	.notice-th{
	border: 1px solid rgba(0,0,0,0.2);
	}
	.td-num{
	
		height:80px
	}
	
	.td-mangager{

		height:65px
	}
	.Td-Title{
	
		height:65px
	}
	.Td-Regdate{
	
		height:65px
	}
	.notice-span{
		display:flex;
		position:absolute;
		font-size:60px;
		white-space: nowrap
	}
	.notice_select_td{
		position:relative;
	}
	.notice_select{
	    position: absolute;
	    left: 250px;
	    top: -100px;
	    white-space: nowrap
	}
	.notice_paging_tr{
		position: relative;
    	top: 15px;
	}
	.notice_insert{
		border: 1px solid rgba(0,0,0,0.2);
	    border-radius: 45%;

	}
	.notice_insert_a{
			heigth:50px;
			width:50px;
		    position: relative;
	}
	.notice_insert_span{
		position: absolute;
	    top: -20px;
	    left: 8px;
	}
			