@charset "UTF-8";

.notice-div{
	  position: relative;
	}
	.notice-table{
		 width:1135px;
		 height:660px;
		 text-align: center;
		 display:flex;
		 justify-content: center;
		 flex-direction: column;
		 position:absolute;
		 left:200px;
		 bottom:170px;
	}
	.notice-td ,.notice-th {
	 border: 1px solid black;
	}
	.notice-td{
		height:60px;
	}
	.td-num{
		width: 150px;
		height:65px
	}
	
	.td-mangager{
		width: 295px;
		height:65px
	}
	.Td-Title{
		width: 560px;
		height:65px
	}
	.Td-Regdate{
		width:130px;
		height:65px
	}
	.notice-span{
		display:flex;
		position:absolute;
		left:200px;
		bottom:60px;
		font-size:60px;
	}
	.notice_insert{
		
	}
