<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>STAM</title>
<link rel="stylesheet" href="../plugins/swiper/swiper-bundle.min.css"/>
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/style.css">

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../plugins/swiper/swiper-bundle.min.js"></script>
<script src="../js/common.js"></script>
<!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<div class="wrapper">
  <header class="header item">
    <h1 class="logo"><a href="#"><img src="../images/logo.png" alt="STAM"></a></h1>
    <button class="btn_nav mo">
      <span></span><span></span><span></span>
    </button>
    <button class="btn_back mo"></button>
    <nav class="navi_wrap">
      <ul class="navi">
        <li>
          <a href="#" class="depth1">ABOUT</a>
          <ul class="depth2">
            <li><a href="#">Intro + Vision & Business</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Organization Chart</a></li>
            <li><a href="#">With CLIENT</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="depth1">IT portfolio</a>
          <ul class="depth2">
            <li><a href="#">2021</a></li>
            <li><a href="#">2020</a></li>
            <li><a href="#">2019</a></li>
            <li><a href="#">2018</a></li>
            <li><a href="#">2017</a></li>
            <li><a href="#">-2016</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="depth1">Brand</a>
          <ul class="depth2">
            <li><a href="#">Brand</a></li>
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Edit</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="depth1 on">SOLUTION</a>
          <ul class="depth2">
            <li><a href="#">A.Drive</a></li>
            <li class="on"><a href="#">ST Framework</a></li>
            <li><a href="#">통합 SNS 관리 시스템</a></li>
            <li><a href="#">구간별 암호화 시스템</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div class="container item">
    <p class="top_text">NO CROSS NO NO CROWN</p>
    <div class="swiper-container">
      <div class="swiper-wrapper">

        <!-- ST Framework-01 -->
        <div class="swiper-slide">
          <div class="loca_div mo">
            <span class="loca">Solution > ST FRAMEWORK</span>
            <span class="slogan">Strategy+Ambition</span>
          </div>
          <div class="subtitle_section item">
            <h2>SYSTEM<br>ST FRAMEWORK</h2>
            <div class="description">
              <p>STAM의 노하우를 기반으로<br>
              웹 서비스 통합구축을 통하여 고객의<br>
              특성에 맞게 서비스의 안정성과 유지관리의<br>
              효율성을 향상과 관리 하실 수 있습니다.</p>
            </div>
          </div>
          <div class="contents item">
            <div class="tit_div tit_div2">
              <h3>구성 상세</h3>
              <a href="javascript:void(0);" class="btn_open mo" data-target="stFramework01"></a>
            </div>
            <div class="cont">
              <div class="conts_div">
                <div class="img_div"><img src="../images/st_framework_01.jpg" alt=""></div>
              </div>
              <a href="#" class="mo close_layer">닫기</a>
            </div>
          </div>
          <div class="num_div">
            <span class="num num0">0</span>
            <span class="num num1">1</span>
          </div>
        </div>

      </div><!-- //swiper-wrapper -->
      <div class="swiper-pagination"></div>
    </div><!-- //swiper-container -->
    <p class="bottom_text">Strategy + Ambition</p>
  </div><!-- //container -->

</div>

<div class="modal" id="stFramework01">
  <div class="modal_wrap">
    <div class="modal_cont">
      <div class="m_content">
        <div class="tit_div2"><h3>구성 상세</h3></div>
        <div class="conts_div">
          <div class="img_div"><img src="../images/st_framework_01.jpg" alt=""></div>
        </div>
      </div>
    </div>
    <button class="modal_close"></button>
  </div>
</div>


</body>
<script type="text/javascript">
 contentsHeight();
</script>

</html>