@charset "utf-8";

body{min-width:1400px;overflow-x:auto;min-height:922px;max-width:1920px;}
.wrapper{/*background:url(../images/bg.jpg) no-repeat 0 0;*/overflow:hidden;width:100%;height:100%;display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;align-items:stretch;}
.item{flex-basis:auto;}
header.header{width:20.8%;max-width:400px;height:100%;text-align:right;padding-top:36px;min-width:250px;position:relative;z-index:30;overflow: scroll;}
header.header::-webkit-scrollbar {
	display: none;
}
h1.logo{position:absolute;right:0;z-index:10;}
h1.logo a{width:172px;width:168px;/*height:36px;*/display:block;display:inline-block;padding-right:20px;box-sizing:initial;margin-right:-2px}
h1.logo a img{width:100%;}
h1.logo.on a{border-right:2px solid #000;}
.navi{margin-top:80px;}
.navi>li{margin-bottom:10px}
.navi .depth1{font-size: 28px;font-weight:500;line-height: 28px;padding-right:18px;letter-spacing:-0.02em;text-transform:uppercase;}
.navi .depth1.on{font-weight:700;/*border-right:2px solid #000;*/margin-right:-2px;}
.navi .depth2{padding-right:20px;margin-top:6px;}
.navi .depth2 li{margin-bottom:4px;}
.navi .depth2 li a{font-size: 16px;color:#9fa0a0;font-weight:normal;line-height:21px}
.navi .depth2 li.on a{background:#000;color:#fff;font-weight:700;padding:0 5px 2px;}

.container{width:79.2%;max-width:1520px;min-height:100%;display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;align-items:stretch;border-left:2px solid #e6e6e6;position:relative;}
/*.container::before{content:'';display:block;width:2px;height:100%;background:#e6e6e6;position:fixed;left:20.8%;top:0;z-index:5}*/
.top_text{position:absolute;top: 47px;right:60px;z-index:10;font-size:12px;}
.bottom_text{position:absolute;bottom:65px;left:25%;margin-left:-112px;z-index:10;font-size:12px;}

.subtitle_section{width:26.3%;max-width:400px;padding-top:130px;text-align:right;min-height:100%;}
.subtitle_section h2{display:block;font-size:28px;font-weight:700;padding-right:16px;line-height:32px;letter-spacing:-0.02em;margin-bottom:12px;position:relative;padding-top:3px;}
.subtitle_section h2::after{content:'';display:block;background:#000;width:2px;height:62px;position:absolute;right:-2px;top:6px;z-index: 15;}
.subtitle_section h2 span{font-weight:400;text-transform:uppercase;}
.history .subtitle_section h2{margin-bottom:42px;}
.description{padding-right:15px;}
.description p{font-size: 16px;line-height:25px;}
.description p em{font-weight:700}
.description .logo_img_div{margin-top:20px;}
.description .logo_img_div>*{display:inline-block;vertical-align:middle;}
.description .logo_img_div img{max-width:96%}
.swiper-container{width:100%;/*overflow:hidden;*/}
.swiper-wrapper{width:100%;height:100%;}
.swiper-slide{width:100%;height:100%!important;background:#fff;margin-left:0;margin-right:0;display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:flex-start;align-items:stretch;}
.swiper-slide {}
.swiper-container .swiper-pagination{top:131px;right:59px;transform:initial;}
.swiper-pagination-bullet{width:10px;height:10px;background:#c9caca;opacity:1;border-radius:5px;margin:7px 0 13px!important;}
.swiper-pagination-bullet-active{height:20px;background:#000;}

.contents{width:73.7%;position:relative;padding-top: 132px;overflow:hidden;border-left:2px solid #e6e6e6;}
/*.contents::before{content:'';display:block;width:2px;height:100%;background:#e6e6e6;position:fixed;left:26.3%;top:0;z-index:10}*/
.contents .tit_div{width:20%;max-width:225px;padding-left:20px;padding-top:110px;float:left;min-height:100px;}
.contents .tit_div p{font-size:18px;line-height:30px}
.contents .tit_div p em{font-weight:700}
.contents .cont{width:80%;max-width:895px;float:left;background:#fefefe;height:100%;}
/*.contents .cont .midia_div{width:670px;height:376px;background:#000;}*/
.contents.brand{}
.contents.brand .tit_div2{margin-top:2px;}
.contents.brand .conts_div p{color:#666;}
.contents.brand .conts_div h4{font-weight:bold;letter-spacing:-0.02em;color:#575757;margin-bottom:5px;}
.contents.brand .conts_div h4.mt{margin-top:20px;}


.main_container{}
.swiper-container{height:100vh;}
.main_container .contents{height:100vh;}
.media_div{width:74.8%;max-width:670px;/*height:376px;*/background:#000;object-fit:contain;}
.media_div video{width:100%;height:100%;}

.num_div{position:absolute;bottom: 11.6%;right: 59px;width:92px;}
.num{width:92px;height:106px;display:block;text-indent:-9999px}
.num+.num{margin-top:35px;}
.num0{background:url(../images/num0.png) no-repeat 0 0;}
.num1{background:url(../images/num1.png) no-repeat 0 0;}
.num2{background:url(../images/num2.png) no-repeat 0 0;}
.num3{background:url(../images/num3.png) no-repeat 0 0;}
.num4{background:url(../images/num4.png) no-repeat 0 0;}
.num5{background:url(../images/num5.png) no-repeat 0 0;}
.num6{background:url(../images/num6.png) no-repeat 0 0;}
.num7{background:url(../images/num7.png) no-repeat 0 0;}
.num8{background:url(../images/num8.png) no-repeat 0 0;}
.num9{background:url(../images/num9.png) no-repeat 0 0;}

/*History*/
.contents .tit_div.s_num_div{padding:0;text-align:center;}
.s_num{width:100px;height:28px;display:inline-block;text-align:center;}
.s_num2012{background:url(../images/s_num_2012.png) no-repeat 0 0;}
.s_num2013{background:url(../images/s_num_2013.png) no-repeat 0 0;}
.s_num2014{background:url(../images/s_num_2014.png) no-repeat 0 0;}
.s_num2015{background:url(../images/s_num_2015.png) no-repeat 0 0;}
.s_num2016{background:url(../images/s_num_2016.png) no-repeat 0 0;}
.s_num2017{background:url(../images/s_num_2017.png) no-repeat 0 0;}
.s_num2018{background:url(../images/s_num_2018.png) no-repeat 0 0;}
.s_num2019{background:url(../images/s_num_2019.png) no-repeat 0 0;}
.s_num2020{background:url(../images/s_num_2020.png) no-repeat 0 0;}

.history_div{width:74.8%;max-width:670px;margin-top:-7px;}
.history_div li{font-size: 16px;line-height: 27px;}

.modal{display:none}

/*Intro*/
.contents .tit_div.tit_div2{padding:0;text-align:center;}
.tit_div2 h3{color:#e6e6e6;font-size:30px;font-weight:bolder;line-height:1;display:inline-block;letter-spacing:-0.03em;text-align:left;}
#mainWrapper .tit_div2 h3{color:#000;}
.conts_div{width:670px;}
.conts_div p{font-size:18px;text-align:left;}
.conts_div p em{color:#21b8c5;}
.conts_div h4{font-size:18px;text-align:left;margin-top:-5px;}
.conts_div .img_div{text-align:center;margin-top:10px;}
/***** Responsively *****/
@media all and (max-width:1780px) {
	.navi .depth1{font-size:25px;}
	.navi .depth2 li a{font-size:15px}
	.subtitle_section h2{font-size:25px;}
	.description p{font-size:15px}
	.contents .tit_div p{font-size:15px}
	.conts_div{width:600px;-webkit-transition: all 0.3s;transition: all 0.3s;}
	.conts_div img{max-width:100%;}
	.num_div{width:88px;right:45px;-webkit-transition: all 0.3s;transition: all 0.3s;}
	.num{background-size:100% auto;width:100%;}
	.history_div li{font-size:15px}
}

@media all and (max-width:1600px) {

	.navi .depth1{font-size:24px;}
	.navi .depth2 li a{font-size:14px}
	.subtitle_section h2{font-size:24px;}
	.description p{font-size:14px}
	.contents .tit_div p{font-size:14px}
	.conts_div{width:580px;transition:width .5s ease;}
	.num_div{width:84px;right:35px;-webkit-transition: all 0.3s;transition: all 0.3s;}
	.num{background-size:100% auto}
	.num+.num{margin-top:20px;}
	.history_div li{font-size:14px}
}
@media all and (max-width:1500px) {
	.conts_div{width:540px;transition:width .5s ease;}
	.num_div{width:78px;right:30px;-webkit-transition: all 0.3s;transition: all 0.3s;}
	.num+.num{margin-top:15px;}
}

@media all and (max-width:1400px) {
	.conts_div{width:520px;transition:width .5s ease;}
	.num_div{width:70px;right:25px;-webkit-transition: all 0.3s;transition: all 0.3s;}
	.num{height:90px}
}

@media all and (min-width:816px) {
	.mo{display:none!important;}

} 

@media all and (max-width:815px) {
	body{min-width:100%;overflow:hidden;min-height:100%}
	.wrapper{display:block;}
	.pc{display:none}
	.header.moveRight{position:absolute;right:-100%;margin-right:60px;}
	.container.moveRight{position:absolute;top:50px;right:-100%;margin-right:60px;}
	.swiper-container .swiper-pagination.active{right:0;left:initial;}
	.navi_wrap.open{background:#000;width:100%;height:100%;position:fixed;left:0;width:calc(100% - 60px);}
	.open .navi{display:block;margin-top:0;text-align:right;border-right:1px solid #3e3a39;width:calc(100% - 57px);padding-top:45px;height:100%;overflow-y:auto;padding-bottom:40px}
	.navi{-ms-overflow-style:none;scrollbar-width:none;}
	.navi::-webkit-scrollbar{display:none;}
	.navi .depth1{font-size:30px;color:#9fa0a0;}
	.navi .depth1.on{font-weight:500;border-right:0;border-left:0.125rem solid #595757;width:99%;}
	.navi .depth2{margin:7px 0 14px;}
	.navi .depth2 li{margin-bottom:5px;}
	.navi .depth2 li a{font-size:18px;line-height:20px;color:#727171;}
	.navi .depth2 li.on a{background:#fff;color:#000;}
	header.header{width:100%;height:50px;background:#000;text-align:center;max-width:100%;padding:0;display:block;}
	h1.logo{left:0;right:0;margin:0 auto;top:15px;}
	h1.logo a{width:95px;padding:0;margin:0;}
	h1.logo a img{filter: invert(100%);}
	.btn_nav{position:absolute;left:15px;top:15px;z-index:20;width:30px;height:20px;background:transparent;padding:0;}
	.btn_nav span{display:block;width:100%;height:3px;background:#fff;display:block;-webkit-transition :all .2s ease;-moz-transition::all .2s ease;-o-transition::all .2s ease;transition :all .2s ease;margin:5px auto 0;}
	.btn_nav span:nth-child(1){margin-top:0}
	.btn_back{position:absolute;left:15px;top:15px;z-index:20;width:30px;height:20px;padding:0;background:transparent url(../images/btn_back.png) no-repeat 0 0;background-size:30px 19px;display:none}
	.btn_back span{display:none;}
	.navi{display:none}
	.container{width:100%;max-width:100%;border:0;display:block;z-index:50}
	.top_text{left:-30px;bottom:120px;top:initial;right:initial;transform: rotate(-90deg);font-size:8px;}
	.bottom_text{display:none}
	
	.subtitle_section{width:auto;padding:0;min-height:auto;margin-top:10px;}
	.contents{width:100%;padding:0;border:0;margin-top:26px;}
	.contents .tit_div{width:auto;max-width:100%;float:none;position:absolute;top:0;left:0;}
	.contents .cont{width:auto;max-width:100%;float:none;}

	.swiper-container{width:100%;position:relative;}
	.swiper-wrapper{display:block;width:calc(100% - 60px);margin-left:60px;z-index:20;border-left:0.063rem solid #ddd;}
	.swiper-slide{display:block;padding-top:20px;padding-left:12px;}
	.swiper-container .swiper-pagination{width:60px;text-align:center;position:absolute;left:0;top:0;right:initial;padding-top:47px;height:100vh}
	
	.swiper-pagination-bullet{margin:16px auto!important;}
	.swiper-wrapper{}
	.item{flex-basis:unset;}
	.num_div{top:25px;left:-48px;bottom:initial;z-index:30;text-align:center;width:36px;}
	.num{width:11px;height:auto;background-size:contain;display:inline-block;}
	.num +.num{margin-top:0;margin-left:1px;}
	.contents .tit_div{position:relative;z-index:10;}
	.contents .tit_div:after{content:'';display:block;border-bottom:0.044rem dashed #000;position:absolute;top:14px;left:30px;right:22px;z-index:5}
	.tit_div2 h3{font-size:12px;font-weight:bolder;color:#000;position:absolute;top:7px;left:0;z-index:10;background:#fff;padding-right:5px;display:block;box-sizing:unset;}
	.s_num{filter:invert(100%);width:36px;background-size:contain;position:absolute;top:9px;left:0;z-index:10}
	.tit_div .btn_open{background:#fff url(../images/btn_open.png) no-repeat center center;background-size:18px 18px;width:30px;height:30px;display:block;border:0.0313rem solid #000;border-radius:50%;position:absolute;right:17px;z-index:10}

	.loca_div{}
	.loca_div .loca{font-size:1rem;font-weight:bold;letter-spacing:-0.05em}
	.loca_div .slogan{font-size:0.5rem;font-weight:500}
	.subtitle_section{text-align:left;}
	.subtitle_section h2{border-right:0;font-size:1.563rem;line-height:1.75rem;padding-left:14px;margin-left:-12px;margin-bottom:15px;padding-right:8px}
	.subtitle_section h2::before{content:'';display:block;background:#000;width:0.063rem;height:48px;position:absolute;left:-0.063rem;top:6px;z-index: 15;}
	.subtitle_section h2::after{display:none}
	.contents .cont{display:none;}

	.media_div{width:100%;}

	.modal{position:fixed;width:100%;height:100%;top:0px;left:0px;z-index:999;display:none;transition:transform .3s ease-out;background:#fff;}
	/*.modal_cont{-ms-overflow-style:none;scrollbar-width:none;}
	.modal_cont::-webkit-scrollbar{display:none}*/
	.modal_wrap{width:100%;height:100%;position:relative;z-index:999;}
	.modal_cont{margin-left:60px;width:calc(100% - 60px);height:100%;border-left:0.063rem solid #ddd;min-height:100%;overflow-y:auto;}
	.modal_cont .history_div{padding-top:90px;width:100%;padding-bottom:50px}
	.modal_cont .s_num_div{height:11px;padding-left:10px;border-left:1px solid #000;position:relative;margin-left:-1px;position:absolute;top:65px;}
	.modal_cont .s_num{height:11px;top:0;left:11px;display:inline-block;}
	.modal_cont .history_div ul{padding-left:11px;width:100%;margin-top:7px;}
	.modal_cont .history_div ul li{font-size:12px;line-height:22px}
	.modal_close{background:url(../images/btn_close.png) no-repeat 0 0;width:1.469rem;height:1.469rem;background-size:contain;position:absolute;top:14px;left:18px;z-index:1010;text-indent:-9999px}

	.description p{font-size:0.75rem;line-height:1.125rem;}

	.modal_cont .m_content{width:100%;padding-top:90px;padding-bottom:50px}
	.modal_cont .m_content .tit_div2{height:11px;padding-left:10px;border-left:1px solid #000;position:relative;margin-left:-1px;margin-bottom:10px;position:absolute;top:65px;}
	.modal_cont .m_content .tit_div2 h3{position:initial;}
	.modal_cont .m_content .conts_div{padding:0 10px;width:100%;}
	.modal_cont .m_content p{font-size:12px;}
	.m_content .img_div{padding:0 10px;}
	.m_content .img_div img{max-width:100%;width:auto;}
	.conts_div h4{font-size:10px;margin-bottom:5px}
	.description{padding-right:8px}
	.description .logo_img_div{margin-top:10px;}
	.description .logo_img_div img{height:2.6em}


}


@media all and (max-width:375px) {

}
@media all and (max-width:360px) {
	.navi .depth1{font-size:28px;}
	.navi .depth2{margin:5px 0 10px;}
	.navi .depth2 li{margin-bottom:2px}
	.navi .depth2 li a{font-size:1rem;}
	.subtitle_section h2{font-size:1.438rem;}
	


	
}

@media all and (max-width:320px) {
	.open .navi{width:calc(100% - 46px);}
	.navi .depth1{font-size:25px;}
	.navi .depth2{margin:5px 0 10px;}
	.navi .depth2 li{margin-bottom:0}
	.navi .depth2 li a{font-size:15px;}
	.subtitle_section h2{font-size:1.313rem;}

	.swiper-wrapper{width:calc(100% - 50px);margin-left:50px;}
	.swiper-slide{padding-top:17px;padding-left:10px;}
	.subtitle_section h2{margin-left:-10px;}
	.num_div{left:-44px;width:34px;}
	.num +.num{margin-left:0;}
	.loca_div .loca{font-size:0.875rem;letter-spacing:-0.07em;}
	.loca_div .slogan{font-size:0.438rem;}
	.navi_wrap.open{width:calc(100% - 50px);}
	.container.moveRight{margin-right:50px;}
	.navi_wrap.open{width:calc(100% - 50px);}
	.modal_cont{width:calc(100% - 50px);margin-left:50px;}
	.modal_close{left:14px;}
	
}

@media all and (max-width:280px) {

	
}

.scrollDisable{ overflow:hidden !important; touch-action:none;}

.mt45{margin-top:45px;}


@media all and (min-width:816px) {

}