@charset "UTF-8";

body {
	width: 100vw;
	height: 100vh;
}

.notice_div {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.notice_div_span {
	position: relative;
	height: 100px;
	text-align: center;
}

.notice_span {
	font-size: 60px;
	white-space: nowrap;
}

.notice_table {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-spacing: 0px 20px;
}

#notice_insert_text {
	resize: none;
	height: 600px;
	padding-left: 14px;
}

.notice_insert_tr {
	height: 50px;
}

#notice_insert_title {
	width: 800px;
}

.notice_insert_td {
	width: 80px;
}

#notice_insert_btn {
	background-color: white;
	color: black;
}

.notice_insert_btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.notice_insert_input {
	width: 180px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 40px;
	margin-right: 20px;
}

#notice_insert_list {
	height: 50px;
	padding-top: 10px;
}

@media ( max-width : 1320px) {
	.notice_table {
		height: 100vh;
		display: flex;
		flex-direction: column;
		margin-left: 80px;
		border-spacing: 0px 30px;
	}
	.notice_insert_btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 600px;
	}
	#notice_insert_title {
		width: 420px;
	}
	.notice_div {
		display: flex;
		flex-direction: column;
		width: 60vw;
	}
}

@media ( max-width : 817px) {
	#notice_insert_text {
		resize: none;
		height: 450px;
	}
	#notice_insert_title {
		width: 330px;
	}
	.notice_insert_input {
		width: 100px;
		text-align: center;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 40px;
		margin-right: 20px;
	}
	.notice_table {
		height: 100vh;
		display: flex;
		flex-direction: column;
		margin-left: 150px;
		border-spacing: 0px 30px;
	}
}