@charset "UTF-8";

body{
	width:100vw;
	height:100vh;
}

.insert_table{
	border-collapse: separate;
}

.insert_tr{
	display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 45px;
}


.insert_td_name{
	margin-right: 95px;
}

.insert_td_input{
	width: 35%;
}

.insert_div{
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}
.insert_title_div{
	position: absolute;
    top: 180px;
}
.insert_title_span{
	font-size: xxx-large;
    font-weight: 600;
}

.insert_td_btn{
	margin-left:250px;
}

@media (max-width: 817px)   { 
	.insert_td_input {
    	width: 45%;
	}
	.insert_td_btn {
   		margin-left: 0px;
	}
}